$cadet : #5E9A9F;

.box {
  background: $cadet;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: red;
    color: gold;
  }
}


body {
  background-color: #A8D1B8;
  padding-top: 5%;
  font-family: 'Domine', serif;
}
